@import "../../sass/global";

.layout {
  min-height: 100vh;
  padding: 1rem 5rem 3rem;
  
  @include respond(phone){
    padding: 2rem;
    padding-top: 6rem;
  }


  text-align: left;
  background: linear-gradient(
    to left bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #ac9ce2,
    #bd9fe2,
    #cda2e1,
    #f4a0cc,
    #ffa5b0,
    #ffb395,
    #ffc785
  );
  position: relative;

  &__header {
    margin-top: 1rem;
  }

  &__body {
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    color: var(--text);

    & > * {
      z-index: 5;
    }

    &::after {
      content: "";
      background-color: var(--dark);
      opacity: 0.6;
      filter: blur(2px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
    }
  }

  &__user-settings {
    position: fixed;
    right: 5rem;
    top: 4rem;
    z-index: 10;

    @include respond(phone){
      right: 2rem;
      top: 2rem;
    }

    &__menu-trigger {
      text-decoration: none;
      color: var(--color-white);
      overflow: hidden;
      font-family: inherit;
      background-image: -webkit-linear-gradient(
        rgb(137, 137, 137) 0%,
        rgb(47, 47, 47) 100%
      );
      background-image: linear-gradient(
        rgb(137, 137, 137) 0%,
        rgb(47, 47, 47) 100%
      );
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    }
  }
}

.flex-1 {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 10;

  &__options {
    border: none;
    font-size: 1.5rem;
    background: black;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #434343;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.margin-hg {
  margin-top: 10rem;
}
