@import "../../sass/global";

.layout {
  min-height: 100vh;
  padding: 1rem 10rem 0;
  text-align: left;
  background-image: linear-gradient(
    to bottom right,
    rgba(#61448f, 0.5),
    rgba(#d2b7e5, 1)
  );

  &__header {
    margin-top: 4rem;
  }

  &__body {
    background-color: var(--color-white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex: 1;
    padding: 3rem;
  }
}
