.task-card {
  margin: 2rem 0;
  font-size: 3rem;

  &__checkbox {
    accent-color: var(--default);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  &__icon {
    font-size: 2.5rem;
    margin-left: 0.7rem;
    min-width: 3.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem;
    border-radius: 5px;
    color: #023047;

    &--low {
      color: green;
    }

    &--medium {
      color: #ffd500;
    }


    &--high {
      color: #d00000;
    }

    &:hover {
      background-color: rgba(white, 0.6);
    }
  }

  &__details {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    background-color: #eeeded;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--color-black);
    align-items: center;

    &.done {
      text-decoration: line-through;
      background-color: #ede1f6;
    }

    &:hover {
     background-color: #dec9e9;
    }
  }
}
