@import "../../sass/global";

.task-card {
  margin: 2rem 0;
  font-size: 3rem;
  width: 100%;
  flex: 1;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-black);
  align-items: center;

  &__text-container{
    width: 200px;
  }

  &__title {
    font-size: 1.7rem;
    line-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }

  &__tag {
    font-size: 1.2rem;
    background-color: var(--defaultLight);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    text-transform: lowercase;
  }

  &.done &__title {
    text-decoration: line-through;
  }

  &__actions{
    @include respond(phone){
      flex-direction: column;
    }
  }

  &__icon {
    font-size: 2.5rem;
    margin-left: 0.7rem;
    min-width: 3.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem;
    border-radius: 5px;
    color: #023047;

    &--low {
      color: green;
    }

    &--medium {
      color: #ffd500;
    }

    &--high {
      color: #d00000;
    }

    &:hover {
      background-color: rgba(white, 0.6);
    }
  }
}
