@import "../../sass/global";

.timer {
  width: 100%;
  text-align: center;

  &__tabs {
    padding: 1rem;
    background-color: rgba(white, 0.3);
    border-radius: 30px;
    width: fit-content;
    margin: 1rem auto;

    &__option {
      padding: 1rem;
      margin: 0 5px;
      font-size: 1.5rem;
      min-width: 10rem;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      font-family: inherit;
      font-weight: 500;
      border: 2px solid #eee;
      transition: 0.3s ease-in-out;
      background: linear-gradient(-180deg, #d2b7e5, #b185db);
      box-shadow: rgba(0, 0, 0, 0.6) 0 5px 10px;

      @include respond(phone) {
        min-width: 70px;
      }

      &:disabled,
      &[disabled] {
        color: black;
        background: linear-gradient(-180deg, #cccccc, #999999);
      }

      &:active {
        box-shadow: rgba(0, 0, 0, 0.8) 0 2px 5px;
      }

      &:hover:enabled {
        background: linear-gradient(-180deg, #b185db, #6247aa);
        color: whitesmoke;
      }

      &.active:enabled {
        background: linear-gradient(-180deg, #be8eeb, #6247aa);
        color: whitesmoke;
      }
    }
  }

  &__clock {
    width: fit-content;
    margin: 3rem auto;

    p {
      font-size: 2rem;
      color: var(--text);
      font-weight: 500;
    }
  }

  &__controls {
    & > * {
      margin: 0 1rem;
    }
  }
}
