@import "../../sass/global";

.input-group {
  margin-bottom: 1rem;

  &__label {
    font-family: inherit;
  }

   &__input {
    font-family: inherit;
  }

  &__show-pass {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 2.5rem;
  }
}
