@import "../../sass/global";

.task-details {
  color: var(--text);

  @include respond(phone) {
    flex-direction: column;
  }

  & > * {
    flex: 1;
  }

  &__tags {
    width: 100%;

    &__btn {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      font-size: 4rem;
    }

    &__input-container {
      width: 100%;
      padding: 1rem;
      border-bottom: 3px solid var(--dark);

      &.disable {
        pointer-events: none;
        cursor: not-allowed;
      }

      &__input {
        font-family: inherit;
        font-size: 1.7rem;
        border: none;
        background: transparent;

        &::placeholder {
          color: var(--text);
          font-weight: 400;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__content {
    align-self: flex-start;

    &__title {
      text-transform: capitalize;
      word-break: break-word;

      @include respond(phone) {
        font-size: 2rem;
        margin: 3rem 0;
      }
    }

    &__description {
      text-align: justify;
      padding-right: 2rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}
