@import "../../sass/global";

.tasks-section {
  min-height: 100vh;
  padding: 1rem 10rem 0;
  text-align: left;

  &__title {
    margin-top: 5rem;
  }

  &__content {
    background-color: var(--color-white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex: 1;
    padding: 3rem;

    &__details {
      height: 100%;
    }
  }
}

.modal-enter .modal-content {
  opacity: 0;
  transform: scale(0.8);
}

.modal-enter-active .modal-content {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

.modal-exit .modal-content {
  opacity: 1;
}

.modal-exit-active .modal-content {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s;
}
