@import "../../sass/global";

.tasks-section {
  &__tasks {
    margin: 1rem;
    &__container {
      width: 100%;
      gap: 2rem;
      align-items: stretch;

      & > * {
        flex: 1 ;
        padding: 0 2rem;
        border-radius: 10px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }
    }
  }

  &__skeletal {
    background: #f3e1ff;
    background: linear-gradient(110deg, #e3d3ee 8%, #e1d1ec 18%, #d6c8df 33%);
    border-radius: 5px;
    height: 4rem;
    width: 50%;
    background-size: 200% 100%;
    animation: 1.7s shine linear infinite;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loader-img {
  height: 20rem;
}

.error {
  font-size: 2rem;
  color: red;
}
