@import "./sass/_global.scss";

html {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  font-family: inherit;
  font-weight: 500;
}

:root {
  --darkBgColor: #303030;
  --text: whitesmoke;
  --defaultLight: #d2b7e5;
  --default: #b185db;
  --deafultDark: #815ac0;
  --color-black: black;
  --color-white: #fff;
}
